select{
    width: 200px;
}

.play{
    border-radius: 15px;
    width: 40%;
}
:root{
    --background-dark: #7fffd4;
}
body{
    background-color: var(--background-dark);
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_grid{
    width:50%;
    margin: 0 auto;
    height: 60vh;;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border:1px solid #11221c ;
}
.box2{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border:1px solid #11221c ;
}
.box3{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border:1px solid #11221c ;
}
.bomba{
    background-color:red;
}
.bg-blue{
    background-color:#6495ed;
    color:white;
}
.d-none{
    display: none;
}
footer{
    width: 100%;
    height: 75px;;
    margin: 0 auto;
    background-color: white;
}
.j_center{
    justify-content: center;
    align-items: center;
}